@import "tailwindcss";

@theme {
  /* Анімація обертання + колір для лого АІ */
  --animate-spin-fast: rotate-slow 3s linear infinite;

  @keyframes rotate-slow {
    0% {
      transform: rotate(0deg);
      color: #ff0000;
    }
    16% {
      color: #ff7f00;
    }
    33% {
      color: #ffff00;
    }
    50% {
      color: #00ff00;
    }
    66% {
      color: #0000ff;
    }
    83% {
      color: #4b0082;
    }
    100% {
      transform: rotate(360deg);
      color: #4b0082;
    }
  }
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;

  /* Це тут, бо кольори з tailwind.config.ts не працюють...*/

  /* PRIMARY COLORS */
  --primary-green: #2ed573;
  --primary-fadeGreen: #2ed57333;

  /* SECONDARY COLORS */
  --secondary-blue: #192a56;
  --secondary-red: #eb3b5a;

  /* OTHER COLORS */
  --dotted-border: #576574;
  --flag-blue: #0057b7;
  --flag-yellow: #ffdd00;
  --main-heading-green: #78e08f;
  --main-heading-teal: #38ada9;
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
